<h2>{{ comment.autor }}</h2> 
{{ comment.texto }}
<h3>Publicado em: {{ comment.data }}</h3>


<a href="{% url 'main:detalhes' comment.pergunta.id %}">Voltar para enquete</a><br />
<a href="/">Voltar para home</a>